<div class="container-fluid">
  <p class="center flash"><%= notice %><%= alert %></p>
  <h1 class="center">ユーザー一覧</h1>
  <div class="row">
    <div class="wrapper center col-md-8 col-md-offset-2 col-sm-10">
      <table class="user_table">
        <thead>
          <tr>
            <th>名前</th>
            <th>Email</th>
            <th>年齢</th>
            <th>性別</th>
            <th>学校名</th>
            <th>面接日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.culc_age %></td>
              <td><%= user.gender %></td>
              <td><%= user.school_name %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
